.loading {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.loaderWrapper {
  padding: 0 5px;
  margin-bottom: 16px;
}

.noResults {
  font-size: 14px;
}

.ticketsLoaded {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.ticketsLoadedText {
  margin-left: 5px;
}

.ticketsLoaded span {
  margin-left: 5px;
}

.imgCheck {
  display: block;
  height: 20px;
  margin: 0;
}

@media (max-width: 768px) {
  .loading {
    font-size: 12px;
  }

  .noResults {
    font-size: 12px;
    margin: 12px;
  }

  .ticketsLoadedText {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .noResults {
    font-size: 10px;
  }

  .imgCheck {
    width: 20px;
  }
}
